@font-face {
    font-family: 'michroma';
    src: url('../fonts/michroma.woff2') format('woff2'),
         url('../fonts/michroma.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}